*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.color-primary{
    color:#0086FE;
}
 /* width */
 ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.wrapper{
    width:100vw;
    height:100vh;
    background-color:#0086FE;
    display:flex;
    justify-content:center;
    align-items:center;
} 
.contact_manager{
    width:350px;
    height:450px;
    background-color:#fff;
    border-radius:3px;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1) ;
}
.contact_manager::before{
    
}
.contact_header{
    text-align:center;
    padding:20px;
}
.contact_heading{
    color:#0086FE;
    font-family: 'Lato', sans-serif;
    letter-spacing:5px;
}
.contact_logo{
    color:#0086FE ;
}
.contact_form{
padding:0 20px;
}
.contact_form input{
    color:#fff;
    display:block;
    width:100%;
    margin-bottom:15px;
    padding:15px 20px;
    background-color:#0086FE;
    border: none;
    border-radius:5px;

}
.contact_form .btn[type="submit"] {
    border:2px solid #0086FE;
    border-radius:20px;
    padding:10px 20px;
}
input:focus{
    outline:none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#fff;
  }

  .contact_body{
      
      padding:10px 25px;
      overflow-y:scroll;
      width:100%;
      height:140px;
  }
  .contact_item{
      background-color: #fff;
      padding:10px 10px;
      margin-bottom:10px;
      border-radius:3px;
      box-shadow:0px 0px 10px 3px rgba(0, 0, 0, 0.3 );
      display:flex;
      align-items:center;
  }
  .contact_item_info{
  margin-left:30px;
  margin-right:auto;
  }
